In [1]:
import pandas as pd

In [4]:
# Loading data

url = 'https://www.bezrealitky.cz/api/record/markers?&estateType=byt'
data = pd.read_json(url)
data.shape

(2927, 7)

In [5]:
# First 5 rows

data.head()

,id,uri,keyAdvertType,type,timeOrder,orderPriority,advertEstateOffer
0,714011,714011-nabidka-pronajem-bytu-slavikova-praha,estate_offer,flatio,"{'date': '2022-04-12 16:35:07.000000', 'timezo...",0,"[{'gps': '{""lat"":""50.0799163"",""lng"":""14.447637..."
1,714010,714010-ponuka-prenajom-bytu-stefanovicova-brat...,estate_offer,,"{'date': '2022-04-12 16:31:50.000000', 'timezo...",0,"[{'gps': '{""lat"":48.15447,""lng"":17.10982}', 'p..."
2,714006,714006-nabidka-pronajem-bytu-na-poricnim-pravu...,estate_offer,,"{'date': '2022-04-12 16:22:42.000000', 'timezo...",0,"[{'gps': '{""lat"":50.07126,""lng"":14.41603}', 'p..."
3,714005,714005-nabidka-pronajem-bytu-urxova,estate_offer,heimstaden,"{'date': '2022-04-12 16:06:06.000000', 'timezo...",0,"[{'gps': '{""lat"":""49.8627580556"",""lng"":""18.541..."
4,714004,714004-nabidka-prodej-bytu-havlickova-ceska-lipa,estate_offer,,"{'date': '2022-04-12 15:55:01.000000', 'timezo...",0,"[{'gps': '{""lat"":50.6874675,""lng"":14.5340928}'..."

In [6]:
# Basic information about columns

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2927 entries, 0 to 2926
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 2927 non-null   int64
 1   uri                2927 non-null   object
 2   keyAdvertType      2927 non-null   object
 3   type               2927 non-null   object
 4   timeOrder          2927 non-null   object
 5   orderPriority      2927 non-null   int64
 6   advertEstateOffer  2927 non-null   object
dtypes: int64(2), object(5)
memory usage: 160.2+ KB

In [7]:
# Inspecting 'keyAdvertType' column

data['keyAdvertType'].value_counts()   # Only one value -> column can be dropped

estate_offer    2927
Name: keyAdvertType, dtype: int64

In [8]:
# Inspecting 'orderPriority' column

data['orderPriority'].describe()    # Value is always 0 -> column can be dropped

count    2927.0
mean        0.0
std         0.0
min         0.0
25%         0.0
50%         0.0
75%         0.0
max         0.0
Name: orderPriority, dtype: float64

In [9]:
# Inspecting 'type' column

data['type'].value_counts()    # Source of ad -> column can be dropped

                    2442
heimstaden           217
maxima               116
flatio               100
dokonalyNajemnik      51
tvujSpravce            1
Name: type, dtype: int64

In [10]:
# Splitting column 'timeOrder'

timeOrderSplitted = pd.json_normalize(data['timeOrder'])

In [11]:
# Joining dataframes

data = data.join(timeOrderSplitted)
data.head()

,id,uri,keyAdvertType,type,timeOrder,orderPriority,advertEstateOffer,date,timezone_type,timezone
0,714011,714011-nabidka-pronajem-bytu-slavikova-praha,estate_offer,flatio,"{'date': '2022-04-12 16:35:07.000000', 'timezo...",0,"[{'gps': '{""lat"":""50.0799163"",""lng"":""14.447637...",2022-04-12 16:35:07.000000,3,Europe/Berlin
1,714010,714010-ponuka-prenajom-bytu-stefanovicova-brat...,estate_offer,,"{'date': '2022-04-12 16:31:50.000000', 'timezo...",0,"[{'gps': '{""lat"":48.15447,""lng"":17.10982}', 'p...",2022-04-12 16:31:50.000000,3,Europe/Berlin
2,714006,714006-nabidka-pronajem-bytu-na-poricnim-pravu...,estate_offer,,"{'date': '2022-04-12 16:22:42.000000', 'timezo...",0,"[{'gps': '{""lat"":50.07126,""lng"":14.41603}', 'p...",2022-04-12 16:22:42.000000,3,Europe/Berlin
3,714005,714005-nabidka-pronajem-bytu-urxova,estate_offer,heimstaden,"{'date': '2022-04-12 16:06:06.000000', 'timezo...",0,"[{'gps': '{""lat"":""49.8627580556"",""lng"":""18.541...",2022-04-12 16:06:06.000000,3,Europe/Berlin
4,714004,714004-nabidka-prodej-bytu-havlickova-ceska-lipa,estate_offer,,"{'date': '2022-04-12 15:55:01.000000', 'timezo...",0,"[{'gps': '{""lat"":50.6874675,""lng"":14.5340928}'...",2022-04-12 15:55:01.000000,3,Europe/Berlin

In [12]:
# Splitting column 'advertEstateOffer'

data['lat'] = data['advertEstateOffer'].apply(lambda x: eval(x[0]['gps'])['lat'])
data['lng'] = data['advertEstateOffer'].apply(lambda x: eval(x[0]['gps'])['lng'])

data['price'] = data['advertEstateOffer'].apply(lambda x: x[0]['price'])
data['currency'] = data['advertEstateOffer'].apply(lambda x: x[0]['currency'])
data['keyOfferType'] = data['advertEstateOffer'].apply(lambda x: x[0]['keyOfferType'])
data['keyEstateType'] = data['advertEstateOffer'].apply(lambda x: x[0]['keyEstateType'])
data['keyDisposition'] = data['advertEstateOffer'].apply(lambda x: x[0]['keyDisposition'])
data['surface'] = data['advertEstateOffer'].apply(lambda x: x[0]['surface'])
data['surfaceLand'] = data['advertEstateOffer'].apply(lambda x: x[0]['surfaceLand'])

data.head()

,id,uri,keyAdvertType,type,timeOrder,orderPriority,advertEstateOffer,date,timezone_type,timezone,lat,lng,price,currency,keyOfferType,keyEstateType,keyDisposition,surface,surfaceLand
0,714011,714011-nabidka-pronajem-bytu-slavikova-praha,estate_offer,flatio,"{'date': '2022-04-12 16:35:07.000000', 'timezo...",0,"[{'gps': '{""lat"":""50.0799163"",""lng"":""14.447637...",2022-04-12 16:35:07.000000,3,Europe/Berlin,50.0799163,14.447637699999973,22350,CZK,pronajem,byt,1-kk,29,NaN
1,714010,714010-ponuka-prenajom-bytu-stefanovicova-brat...,estate_offer,,"{'date': '2022-04-12 16:31:50.000000', 'timezo...",0,"[{'gps': '{""lat"":48.15447,""lng"":17.10982}', 'p...",2022-04-12 16:31:50.000000,3,Europe/Berlin,48.15447,17.10982,670,EUR,pronajem,byt,2-1,77,0.0
2,714006,714006-nabidka-pronajem-bytu-na-poricnim-pravu...,estate_offer,,"{'date': '2022-04-12 16:22:42.000000', 'timezo...",0,"[{'gps': '{""lat"":50.07126,""lng"":14.41603}', 'p...",2022-04-12 16:22:42.000000,3,Europe/Berlin,50.07126,14.41603,15000,CZK,pronajem,byt,2-kk,51,0.0
3,714005,714005-nabidka-pronajem-bytu-urxova,estate_offer,heimstaden,"{'date': '2022-04-12 16:06:06.000000', 'timezo...",0,"[{'gps': '{""lat"":""49.8627580556"",""lng"":""18.541...",2022-04-12 16:06:06.000000,3,Europe/Berlin,49.8627580556,18.5410027778,5170,CZK,pronajem,byt,1-kk,32,0.0
4,714004,714004-nabidka-prodej-bytu-havlickova-ceska-lipa,estate_offer,,"{'date': '2022-04-12 15:55:01.000000', 'timezo...",0,"[{'gps': '{""lat"":50.6874675,""lng"":14.5340928}'...",2022-04-12 15:55:01.000000,3,Europe/Berlin,50.687467,14.534093,2399000,CZK,prodej,byt,2-kk,42,0.0

In [13]:
# Dropping unnecessary columns

data.drop(['keyAdvertType', 'orderPriority', 'type', 'timeOrder', 'timezone_type', 'timezone', 'advertEstateOffer', 'keyEstateType'], axis=1, inplace=True)
data.head()

,id,uri,date,lat,lng,price,currency,keyOfferType,keyDisposition,surface,surfaceLand
0,714011,714011-nabidka-pronajem-bytu-slavikova-praha,2022-04-12 16:35:07.000000,50.0799163,14.447637699999973,22350,CZK,pronajem,1-kk,29,NaN
1,714010,714010-ponuka-prenajom-bytu-stefanovicova-brat...,2022-04-12 16:31:50.000000,48.15447,17.10982,670,EUR,pronajem,2-1,77,0.0
2,714006,714006-nabidka-pronajem-bytu-na-poricnim-pravu...,2022-04-12 16:22:42.000000,50.07126,14.41603,15000,CZK,pronajem,2-kk,51,0.0
3,714005,714005-nabidka-pronajem-bytu-urxova,2022-04-12 16:06:06.000000,49.8627580556,18.5410027778,5170,CZK,pronajem,1-kk,32,0.0
4,714004,714004-nabidka-prodej-bytu-havlickova-ceska-lipa,2022-04-12 15:55:01.000000,50.687467,14.534093,2399000,CZK,prodej,2-kk,42,0.0

In [15]:
# Exporting data

data.to_excel('bezrealitky_uri.xlsx', index=False)